<td-layout-nav logo="assets:covalent">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Quickstart</span>
    <span flex></span>
    <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
  </div>

  <td-layout-manage-list #manageList
                         [opened]="media.registerQuery('gt-sm') | async"
                         [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
                         [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <md-toolbar td-sidenav-content>
      <span>Projects</span>
    </md-toolbar>

    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span>Current Project</span>
      <span flex></span>
    </div>

    <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
      <div flex-gt-sm="60">
        <md-card>
          <md-card-title>Customer Activity</md-card-title>
          <md-card-subtitle>Recent activity from select members</md-card-subtitle>
          <md-divider></md-divider>
          <md-nav-list class="will-load item-list">
            <ng-template tdLoading="items.load">
              <qs-diff-chart></qs-diff-chart>
            </ng-template>
          </md-nav-list>
        </md-card>
      </div>
    </div>
  </td-layout-manage-list>
</td-layout-nav>
