<td-layout-nav>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Teradata 360</span>
    <span flex></span>
  </div>

  <td-layout-manage-list #manageList
                         [opened]="media.registerQuery('gt-sm') | async"
                         [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
                         [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <md-toolbar td-sidenav-content>
      <span>Projects</span>
    </md-toolbar>

    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <div *ngIf="project">
        <span>{{project.name}}</span>
      </div>
      <span flex></span>
      <md-select placeholder="Last 1 year" [(ngModel)]="day" (change)="updateFi()">
        <md-option *ngFor="let d of days" [value]="d.value">{{ d.text }}</md-option>
      </md-select>
    </div>

    <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
      <div flex-gt-sm="50">
        <md-card>
          <md-card-title>Committed vs Completed Story Points</md-card-title>
          <md-divider></md-divider>
          <md-nav-list class="will-load item-list">
            <ng-template tdLoading="{{sprintChartName}}">
              <div *ngIf="sprints">
                <qs-line-chart [data]="sprints"
                               [chartClassName]="sprintChartName"
                               [yAxisTile]="sprintChartYAxisTitle" [interactive]="false"
                               [forecast]="false"></qs-line-chart>
              </div>
            </ng-template>
          </md-nav-list>
        </md-card>
      </div>
      <div flex-gt-sm="50">
        <md-card>
          <md-card-title>Velocity Percentage</md-card-title>
          <md-divider></md-divider>
          <ng-template tdLoading="{{velocityChartName}}">
            <div *ngIf="velocity">
              <qs-line-chart [data]="velocity"
                             [chartClassName]="velocityChartName"
                             [yAxisTile]="velocityChartYAxisTitle" [interactive]="false"
                             [forecast]="false"></qs-line-chart>
            </div>
          </ng-template>
        </md-card>
      </div>
    </div>

    <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
      <div flex-gt-sm="50">
        <md-card>
          <md-card-title>Velocity Percentage Forecast</md-card-title>
          <md-divider></md-divider>
          <ng-template tdLoading="{{forecastChart}}">
            <div *ngIf="forecastVelocity">
              <qs-line-chart [data]="forecastVelocity"
                             [chartClassName]="forecastChart"
                             [yAxisTile]="forecastChartYAxis"
                             [interactive]="false" [forecast]="true"></qs-line-chart>
            </div>
          </ng-template>
        </md-card>
      </div>

      <div flex-gt-sm="50">
        <md-card>
          <md-card-title>Defects Over Time</md-card-title>
          <md-divider></md-divider>
          <ng-template tdLoading="{{issuesChartName}}">
            <div *ngIf="issues">
              <qs-line-chart [data]="issues"
                             [chartClassName]="issuesChartName"
                             [yAxisTile]="issuesChartYAxisTitle"
                             [interactive]="false" [forecast]="false"></qs-line-chart>
            </div>
          </ng-template>
        </md-card>
      </div>
    </div>

    <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
      <div flex-gt-sm="100">
        <md-card>
          <md-card-title>Story Points Completed by Team Member</md-card-title>
          <md-divider></md-divider>
          <ng-template tdLoading="{{sprintUsersChartName}}">
            <div *ngIf="sprintUsers">
              <qs-line-chart [data]="sprintUsers"
                             [chartClassName]="sprintUsersChartName"
                             [yAxisTile]="sprintUsersYAxisTitle" [interactive]="true"
                             [forecast]="false"></qs-line-chart>
            </div>
          </ng-template>
        </md-card>
      </div>
    </div>
    <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
      <div flex-gt-sm="50">
        <md-card>
          <md-card-title>Commit Activity by Sprint</md-card-title>
          <md-divider></md-divider>
          <ng-template tdLoading="{{commitSprintChartName}}">
            <div *ngIf="commitsBySprint">
              <qs-line-chart [data]="commitsBySprint"
                             [chartClassName]="commitSprintChartName"
                             [yAxisTile]="commitSprintChartYAxisTitle" [interactive]="false"
                             [forecast]="false"></qs-line-chart>
            </div>
          </ng-template>
        </md-card>
      </div>
      <div flex-gt-sm="50">
        <md-card>
          <md-card-title>Commit Count Over Time</md-card-title>
          <md-divider></md-divider>
          <ng-template tdLoading="{{commitsCountChartName}}">
            <div *ngIf="commits">
              <qs-line-chart [data]="commits"
                             [chartClassName]="commitsCountChartName"
                             [yAxisTile]="commitsCountChartYAxisTitle" [interactive]="false"
                             [forecast]="false"></qs-line-chart>
            </div>
          </ng-template>
        </md-card>
      </div>

    </div>

    <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
      <div flex-gt-sm="120">
        <md-card>
          <md-card-title>Commits by Team Member</md-card-title>
          <md-divider></md-divider>
          <ng-template tdLoading="{{commitUsersChartName}}">
            <div *ngIf="commitUsers">
              <qs-line-chart [data]="commitUsers"
                             [chartClassName]="commitUsersChartName"
                             [yAxisTile]="commitUsersChartYAxisTitle"
                             [interactive]="true" [forecast]="false"></qs-line-chart>
            </div>
          </ng-template>
        </md-card>
      </div>
    </div>

    <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
      <div flex-gt-sm="50">
        <md-card>
          <md-card-title>Test Coverage</md-card-title>
          <md-divider></md-divider>
          <ng-template tdLoading="{{testCoverageChartName}}">
            <div *ngIf="testCoverage">
              <qs-line-chart [data]="testCoverage"
                             [chartClassName]="testCoverageChartName"
                             [yAxisTile]="testCoverageChartYAxisTitle"
                             [interactive]="true" [forecast]="false"></qs-line-chart>
            </div>
          </ng-template>
        </md-card>
      </div>

      <div flex-gt-sm="50">
        <md-card>
          <md-card-title>Jenkins Build Success Rate</md-card-title>
          <md-divider></md-divider>
          <ng-template tdLoading="{{buildTimelineChart}}">
            <div *ngIf="buildStatus">
              <qs-line-chart [data]="buildStatus"
                             [chartClassName]="buildTimelineChart"
                             [yAxisTile]="buildTimelineYAxis" [interactive]="true" [forecast]="false"></qs-line-chart>
            </div>
          </ng-template>
        </md-card>
      </div>
    </div>

  </td-layout-manage-list>
</td-layout-nav>
